:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-cyan--light: hsla(179, 62%, 43%, 0.815);
  --primary-bright: hsl(71, 73%, 54%);
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(217, 22%, 67%);
  --step: 1.5rem;
  --font-size: 0.9rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* footer section for attribution */
footer {
  position: absolute;
  pointer-events: none;
  z-index: -999;
  opacity: 0;
  scale: 0;
  visibility: hidden;
}

/* utils */
.container {
  height: 100%;
  width: 100%;
  padding: calc(var(--step) * 1.25);
}

/* body layout */
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100svh;
  padding: var(--step) 0;
  background-color: var(--neutral-gray);
}
body > article {
  margin: auto;
  width: 85%;
  max-width: 50rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 0 1px calc(var(--step) * 2) rgba(0 0 0 /0.09);
  border-radius: calc(var(--step) / 5);
  overflow: hidden;
  background-color: white;
}

/* header section */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.heading {
  font-weight: bolder;
  letter-spacing: -0.075rem;
}

.heading--primary {
  font-size: calc(var(--font-size) * 1.5);
  color: var(--primary-cyan);
}

.heading--tertiary {
  font-size: 1rem;
  line-height: calc(var(--font-size) * 1.5);
  color: var(--primary-bright);
  margin: 1.125rem 0;
}

.header__text {
  font-weight: 400;
  color: var(--neutral-grayish-blue);
  font-size: calc(var(--font-size) * 1.02);
  line-height: 1.5rem;
}

/* main container */
.main {
  background-color: var(--primary-cyan);
  display: flex;
  flex-direction: column;
  gap: var(--step);
}

.main > div {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.line--main > strong {
  font-size: calc(var(--step) * 1.25);
  color: var(--neutral-gray);
}

.line--main > small {
  font-size: var(--font-size);
  color: var(--neutral-gray);
  opacity: 0.75;
}

.line--mini {
  font-weight: 400;
  color: var(--neutral-gray);
  font-size: calc(var(--font-size) * 1.02);
}

.heading--secondary {
  font-size: calc(var(--font-size) * 1.5);
  color: var(--neutral-gray);
}

.main > button,
.main > button:visited,
.main > button:focus {
  background-color: var(--primary-bright);
  outline: none;
  border: none;
  display: block;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  color: var(--neutral-gray);
  filter: drop-shadow(0 0 1rem rgba(0 0 0 /0.25));
  width: 100%;
  transition: all 0.25s;
}

.main > button:hover,
.main > button:focus {
  scale: 1.05;
  color: var(--primary-cyan);
  background-color: var(--neutral-gray);
  filter: drop-shadow(0 0 1.5rem rgba(0 0 0 /0.25));
}

/* outro section */
.outro {
  background-color: var(--primary-cyan--light);
}

.outro__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  margin-top: calc(var(--step));
  list-style: none;
}

.outro__list > li {
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--neutral-gray);
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  :root {
    --step: 2rem;
    --font-size: 1rem;
  }

  .heading--primary {
    font-size: calc(var(--font-size) * 2);
  }

  body > article {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    border-radius: calc(var(--step) * .3);
  }

  .header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  .main {
    width: 100%;
    grid-row: 2 / -1;
    grid-column: 1 / 2;
  }
  .outro {
    width: 100%;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
  }
}
