:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-bright: hsl(71, 73%, 54%);
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* footer section for attribution */
footer {
  position: absolute;
  pointer-events: none;
  z-index: -999;
  opacity: 0;
  scale: 0;
  visibility: hidden;
}
